GROQ_API_KEY=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

SUPABASE_URL=https://mciamxduiualbkslqfjb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jaWFteGR1aXVhbGJrc2xxZmpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTc5ODkwNywiZXhwIjoyMDc3Mzc0OTA3fQ.JDNfsNl_jtqPselPiBiRmdDEPWyfHp6RMHgP8EoMwi0
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jaWFteGR1aXVhbGJrc2xxZmpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3OTg5MDcsImV4cCI6MjA3NzM3NDkwN30.4Q3LWEMh5oS6EA4nX5QSIWQiOnnjtPrAWgQwBx-L7rU